

header {
    top: 0;
    left: 0;
    right:0;
    z-index: 1020;
    background-color: var(--aquaGreen);
}
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar .nav-item .dropdown-menu{ transition: all ease .3s; }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.nav-text-light a,.nav-text-light a:visited {
    color: var(--white)
}
.nav-text-light a:hover {
    color: var(--darkGreen);
}

.nav-link {
    border-bottom: 2px solid transparent;
    font-size: 1rem !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.nav-link:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--darkGreen) !important;
}